<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  
    <div class="navbar u-tf">
      <div class="logo">Weather</div>
      <form class="searchForm u-tf" action="">
        <input class="searchText" type="text"/>
        <input class="btn searchBtn" type="submit" value="Search"/>
      </form>
      <ul class="menu">
        <li><a class="mainPage" href="#">Main</a></li>
        <li><a class="login" href="#">Login</a></li>
        <li><a class="signup" href="#">Sign Up</a></li>
        <li><a class="user" href="#">User</a></li>
      </ul>
    </div>
    <div class="map u-tf"></div>
      
      
    
  </body>
</html>
