<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Weather-Main</title>
  
  
  <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css'>

      <link rel="stylesheet" href="../public/stylesheets/style.css">

  
</head>

<body>

  
<div class="navbar u-tf">
  <div class="logo">logo</div>
  <form class="searchForm u-tf" action="">
    <input class="searchText" type="text"/>
    <input class="btn searchBtn" type="submit" value="Search"/>
  </form>
  <ul class="menu">
    <li><a class="mainPage" href="">Main</a></li>
    <li><a class="login" href="">Login</a></li>
    <li><a class="signup" href="">Sign Up</a></li>
  </ul>
</div>
<div class="map u-tf"></div>
  
  

</body>

</html>
