<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <form class="loginBox" action="">
            <p class="title">Login</p>
            <h3>Account</h3>
            <input class="loginText" type="text"/>
            <h3>Password</h3>
            <input class="loginText" type="password"/>
            <input class="loginSubmit" type="submit" value="Login"/><a href="#">Go to Register</a>
        </form>       
    </body>
              
</html>