<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <form class="loginBox" method="POST" action="/login">
            <p class="title">Login</p>
            <h3>Account</h3>
            <input class="loginText" name="username" type="text"/>
            <h3>Password</h3>
            <input class="loginText" name ="password" type="password"/>
<<<<<<< HEAD
            <input class="loginSubmit" type="submit" value="Login"/><a href="/signup">Go to Register</a>
=======
            <input class="loginSubmit" type="submit" value="Login"/><a href="signup">Go to Register</a>
>>>>>>> origin/revised_sql
        </form>       
    </body>
              
</html>