<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Weather-Login</title>
  
  
  
      <link rel="stylesheet" href="../public/stylesheets/style.css">

  
</head>

<body>

  
<form class="loginBox" action="">
  <p class="title">Login</p>
  <h3>Account</h3>
  <input class="btn text" type="text"/>
  <h3>Password</h3>
  <input class="btn text" type="password"/>
  <input class="btn submit" type="submit" value="Login"/><a href="#">Go to Register</a>
</form>
  
  

</body>

</html>
