<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form class="signupBox" method="POST" action="/signup">
            <p class="title">Sign Up</p>
            <input class="signupText" type="text" name="username" placeholder="Account"/>
            <input class="signupText" type="password" name="password" placeholder="Password"/>
            <input class="signupSubmit" type="submit" value="Sign Up"/><a href="/login">Go to Login</a>
        </form> 
    </body>
        
</html>