<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Weather-SignUp</title>
  
  
  
      <link rel="stylesheet" href="../public/stylesheets/style.css">

  
</head>

<body>

  
<form class="signupBox" action="">
  <p class="title"> Sign Up</p>
  <input class="signupText" type="text" name="" placeholder="Account"/>
  <input class="signupText" type="text" name="" placeholder="Password"/>
  <input class="signupText" type="text" name="" placeholder="Name"/>
  <input class="signupText" type="text" name="" placeholder="E-mail"/>
  <input class="signupSubmit" type="submit" value="Sign Up"/><a href="#">Go to Login</a>
</form>
  
  

</body>

</html>
